<a href="https://colab.research.google.com/github/yalyaaxie/DATA-MINING/blob/main/PRATIKUM%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
import numpy as np

pd.options.display.max_rows = 9999 
df = pd.read_csv('data.csv.xls' , delimiter = ';')
df.head()

,nama_sentra,jenis_produk,jumlah_unit_usaha,alamat,kelurahan,kecamatan,wilayah,tenaga_kerja,nilai_investasi,kapasitas_produksi,satuan,latitude,longitude
0,Jatinegara Lio,Meubel,45,Jl.Raya Bekasi Gg. Lio,Cakung,Cakung,Jakarta Timur,240.0,8.000000e+08,80000.0,kg,-6.102.255,106.928.986
1,PIK Penggilingan,Kap/Jok,7,Jl.Raya Penggilingan,Cakung,Cakung,Jakarta Timur,105.0,3.500000e+08,NaN,kg,-6.126.593,106.838.982
2,PIK Penggilingan,Tas/Sepatu,45,Jl.PIK penggilingan,Penggilingan,Cakung,Jakarta Timur,21.0,7.000000e+07,NaN,kg,-620.374,106.930.977
3,PIK Pengilingan,Percetakan Aneka,51,Jl.PIK penggilingan Blok E Jatim,Penggilingan,Cakung,Jakarta Timur,726.0,2.420000e+09,NaN,kg,-620.374,106.930.977
4,Rawa Sari,Tahu dan Tempe,100,Jl.Pramuka Sari,Cempaka Putih,Cempaka Putih,Jakarta Pusat,300.0,1.000000e+09,100000.0,kg,-6.190.226,106.867.767

In [23]:
df.isnull().sum().sum()

66

In [24]:
df = df.dropna()
df.isnull().sum().sum()

0

In [25]:
df2 = df.apply(lambda x: x.astype(str).str.upper())
df2.head()

,nama_sentra,jenis_produk,jumlah_unit_usaha,alamat,kelurahan,kecamatan,wilayah,tenaga_kerja,nilai_investasi,kapasitas_produksi,satuan,latitude,longitude
0,JATINEGARA LIO,MEUBEL,45,JL.RAYA BEKASI GG. LIO,CAKUNG,CAKUNG,JAKARTA TIMUR,240.0,800000000.0,80000.0,KG,-6.102.255,106.928.986
4,RAWA SARI,TAHU DAN TEMPE,100,JL.PRAMUKA SARI,CEMPAKA PUTIH,CEMPAKA PUTIH,JAKARTA PUSAT,300.0,1000000000.0,100000.0,KG,-6.190.226,106.867.767
5,CILANDAK,TEMPE,25,JL.H. DAWA JALIL,CILANDAK,CILANDAK,JAKARTA SELATAN,75.0,250000000.0,25000.0,KG,-6.292.149,106.792.839
7,SEMPER,TAHU DAN TEMPE,286,JL.TIPAR CAKUNG,SEMPER BARAT,CILINCING,JAKARTA UTARA,60.0,200000000.0,20000.0,KG,-6.121.443,106.915.848
8,KALIBARU,IKAN ASIN,80,JL.KALI BARU,KALI BARU,CILINCING,JAKARTA UTARA,558.0,1860000000.0,186000.0,KG,-6.162.279,106.881.348

In [26]:
len(df2[df2['wilayah']=='JAKARTA SELATAN'])

9